@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.spinner {
  --animation-duration: 1000ms;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.spinner .spinner-item {
  width: calc(var(--size) / 12);
  height: 80%;
  background: var(--clr-spinner);
  animation: spinner1 var(--animation-duration) ease-in-out infinite;
}
@keyframes spinner1 {
  50% {
    transform: scaleY(0.25);
  }
}

.spinner .spinner-item {
  --clr-spinner: var(--clr1);
  animation-delay: calc(var(--animation-duration) / 10 * -3);
}

.spinner .spinner-item:nth-child(1) {
  --clr-spinner: var(--clr1);
  animation-delay: calc(var(--animation-duration) / 10 * -3);
}
.spinner .spinner-item:nth-child(2) {
  --clr-spinner: var(--clr5);
  animation-delay: calc(var(--animation-duration) / 10 * -1);
}
.spinner .spinner-item:nth-child(3) {
  --clr-spinner: var(--clr3);
  animation-delay: calc(var(--animation-duration) / 10 * -2);
}
.spinner .spinner-item:nth-child(4) {
  --clr-spinner: var(--clr4);
  animation-delay: calc(var(--animation-duration) / 10 * -1);
}
.spinner .spinner-item:nth-child(5) {
  --clr-spinner: var(--clr2);
  animation-delay: calc(var(--animation-duration) / 10 * -3);
}

:where(.css-dev-only-do-not-override-2q8sxy).ant-modal .ant-modal-close-x {
  font-size: 40px;
  color: white;
  right: 20px;
}

.obtn {
  background-color: #d9d9d9;
  color: #525050;
}
.pagetitle {
  color: #a68b5c;
  font-size: 90px;
}

@media screen and (max-width: 450px) {
  .pagetitle {
    font-size: 40px;
  }
}

.obtn:hover {
  background-color: #a68b5c;
  color: #ffffff;
}

.kioskcontent::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #12141e;
}

.kioskcontent::-webkit-scrollbar {
  width: 12px;
  background-color: #12141e;
}

.kioskcontent::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a68b5c;
}

.ofrom {
  padding-top: 10px;
}
.olabel {
  color: #fff !important;
  text-align: left !important;
  text-transform: uppercase;
  font-size: 32px;
  margin-left: 0;
  margin-top: 10px;
  padding-bottom: 10px;
}
textarea.kiosk {
  /* background: #699bf7; */
  font-size: 18px;
  border-radius: 15px !important;
}

.kiosk {
  background: #d9d9d94f !important;
  border-radius: 50px !important;
  color: white !important;
  font-size: 28px;
  /* border-color: transparent; */
  padding: 2px 20px 5px 30px;
  width: 100%;
}
.kiosk.ant-picker {
  height: 50px !important;
}

.selectBox .kiosk div {
  color: white !important;
  font-size: 22px;
}
.kiosk .ant-picker-input .anticon,
.kiosk .ant-picker-input input::placeholder,
.kiosk .ant-picker-input input {
  color: #fff;
  font-size: 18px;
}
